<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <link
    href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7CPT+Serif:400,700,400italic"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans"
    rel="stylesheet"
  />
    <link rel="stylesheet" type="text/css" href="services.css" />
  </head>
  <body>
    <header class="header">
      <div class="bgimage">
        <div class="menu">
          <div class="leftmenu">
            <h3><a href="home.html">Parkit</a></h3>
          </div>
          <div class="rightmenu">
            <ul>
              <li><a  href="home.html">HOME</a></li>
              <li><a id="fisrtlist" href="services.html">Services</a></li>
              <li><a href="spaceowner.php">Space Owner</a></li>
              <li><a href="parker.php">Parker</a></li>
              <li><a href="aboutus.html">About Us</a></li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
    </header>
    <form class="box" action="home.html" method="post">
      <div class="text">
        <h1>Services</h1>
        <h1>Owner</h1>
        <a>1. Space Owner can register in the website.</a></br>
        <a>2. He/She will carry an unique id number given by the website.</a></br>
        <a>3. Space Owner can update his spaces according to his/her needs.</a></br>
        <a>4. Space Owner can report to the admin if any Parker missbehave or miss-use the system.</a></br>
        <h1>Parker</h1>
        <a>1.  Parker can register in the website.</a></br>
        <a>2. He/She will carry an unique id number given by the website.</a></br>
        <a>3. Parker can input for how many hours he/she will hold the space and for that he/she will be charged which will be pre-defined in the wesite as per minuite.</a></br>
        <a>4. Parker can discharge the place whenever he/she wants.</a></br>
        <a>5. Parker can report to the admin if any Space Owner missbehave or miss-use the system.</a></br>
      </div>
    </form>
  </body>
</html>
